
.component2{

    width: 600px;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
    box-shadow: 0 4px 12px   black;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
  

}

.component3{
    height: 500px;

    width: 600px;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
    box-shadow: 0 4px 12px   black;
    top: 100%;
    position: fixed;
   
    
}

.transition{
    transition: 0.8s ease;
    transform: translateY(-160%);

}

.transition2{
    transition: 0.8s ease;
    transform: translateY(100%);

}

input{
    height: 50px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 12px   black;
}

.button1{
    background-color: red;
    left: 560px;
    bottom: 460px;
    position: absolute;

    display: flex;
    
    border-radius: 100%;
    font-size: 30px;
    height: 30px;
    width: 30px;

}
